 <div class="box__grid">
            <article class="box">
              <a class="box__content" href="https://medium.com/@wilg1569/apprendre-%C3%A0-programmer-en-3-mois-gr%C3%A2ce-%C3%A0-the-hacking-project-3ac825883217">
                <i class="fa fa-medium fa-3x"></i>
                <h3 class="box__title">Article</h3>
                <p>vous trouverez notre article sur la formation THP ici<br>.</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
            <article class="box">
              <a class="box__content" href="https://medium.freecodecamp.org/5-key-learnings-from-the-post-bootcamp-job-search-9a07468d2331">
                <i class="fa fa-code fa-3x"></i>
                <h3 class="box__title">Coder ?</h3>
                <p>"everybody should learn how to code"<br> Steve Jobs.</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
            <article class="box">
              <a class="box__content" href="#">
                <i class="fa fa-mobile fa-3x"></i>
                <h3 class="box__title">10 raison pour devenir développeur</h3>
                <p>devenir développeur ne vous réveillez plus à 6h</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
          </div>