<%= form_with model: User.new, class: 'form-inline' do |f| %>
  <div class="input-group">
    <div class="input-group-prepend">
     <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
    </div>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email', 'aria-describedby' => "basic-addon1", 'required' => 'true' %>
  </div>
  <%= f.submit "S'abonner", class: 'btn' %>
<% end %>