<% if false %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

    <% end %>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href='//fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
      <%= render "layouts/header"%>
      <section class="section">
        <div class="wrapper">
          <h2 class="section__title">Tu veux apprendre à coder ?</h2>
          <p class="section__intro">
            C'est GRATUIT ! Oui t'as bien compris, si tu finis ta formation c'est gratuit!
            Abonne-toi à la newsletter, et découvre tout les challenges que THP te propose.
          </p>
          <%= render "home/article"%>
        </div>
      </section>
      <div class="section section--cta">
        <div class="wrapper">

          <%= render 'home/form' %>
          <h2 class="section__title">Envie d'un challenge?</h2>
          <p class="section__intro">Abonne-toi dès maintenant et REJOINS NOUS.</p>
        </div>
      </div>
      <%= render "layouts/footer"%>
