<% if false %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

    <% end %>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href='//fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
      <section class="hero">
        <h1>
          <span>Beauty</span>Landing Page</h1>
        <h2>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Curabitur blandit
          tempus porttitor.
        </h2>
      </section>
      <section class="section">
        <div class="wrapper">
          <h2 class="section__title">SOME TITLE</h2>
          <p class="section__intro">
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Curabitur blandit tempus
            porttitor.


          </p>
          <div class="box__grid">
            <article class="box">
              <a class="box__content" href="#">
                <i class="fa fa-lightbulb-o fa-3x"></i>
                <h3 class="box__title">Creative Idea</h3>
                <p>Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris neque diam vulputate nem.</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
            <article class="box">
              <a class="box__content" href="#">
                <i class="fa fa-code fa-3x"></i>
                <h3 class="box__title">Clean Code</h3>
                <p>Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris neque diam vulputate nem.</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
            <article class="box">
              <a class="box__content" href="#">
                <i class="fa fa-mobile fa-3x"></i>
                <h3 class="box__title">Mobile First</h3>
                <p>Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris neque diam vulputate nem.</p>
                <span class="box__more">Read more
                  <i class="fa fa-arrow-right"></i>
                </span>
              </a>
            </article>
          </div>
        </div>
      </section>
      <div class="section section--cta">
        <div class="wrapper">

          <%= render 'home/form' %>
          <h2 class="section__title">SOME TITLE</h2>
          <p class="section__intro">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Curabitur blandit
            tempus porttitor.</p>
        </div>
      </div>
      <div class="footer">
        <p>&copy; 2016 Landing Page</p>
      </div>