<% if false %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

    <% end %>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href='//fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
      <%= render "home/header_startups"%>
      <section class="section">
        <div class="wrapper">
          <h2 class="section__title">Faites confiance à nos corsaires</h2>
          <p class="section__intro">
          THP forme des développeurs Ruby on Rails avec des compétences professionnelles réelles et opérationnelles. Cette préparation au monde de l’entreprise passe par une pédagogie novatrice, enrichie de nombreux échanges avec le monde professionnel..
          </p>
          <%= render "home/article"%>
        </div>
      </section>
      <div class="section section--cta">
        <div class="wrapper">

          <%= render 'home/form' %>
          <h2 class="section__title">Abonnez-vous et recrutez nos corsaires ici!</h2>
          <p class="section__intro">Au fil de ses sessions, THP a diffusé le talent de ses corsaires dans plusieurs startups</p>
        </div>
      </div>
      <%= render "layouts/footer"%>
