<% if false %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

    <% end %>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href='//fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
      <%= render "home/header_startups"%>
      <section class="section">
        <div class="wrapper">
          <h2 class="section__title">Recrutez nos moussaillons ici!</h2>
          <p class="section__intro">
          Pour fournir des ressources humaines de qualité à votre entreprises, l’objectif de l’école a toujours été de former des jeunes de haut niveau, pourvus de compétences professionnelles réelles et rapidement opérationnels. Cette préparation au monde de l’entreprise passe par une pédagogie novatrice, enrichie de nombreux échanges avec le monde professionnel..
          </p>
          <%= render "home/article"%>
        </div>
      </section>
      <div class="section section--cta">
        <div class="wrapper">

          <%= render 'home/form' %>
          <h2 class="section__title">Recrutez nos moussaillons ici!</h2>
          <p class="section__intro">Pour fournir des ressources humaines de qualité aux entreprises, l’objectif de l’école a toujours été de former des jeunes de haut niveau, pourvus de compétences professionnelles réelles et rapidement opérationnels. Cette préparation au monde de l’entreprise passe par une pédagogie novatrice, enrichie de nombreux échanges avec le monde professionnel..</p>
        </div>
      </div>
      <%= render "layouts/footer"%>
