.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #fff;
  display: flex;
  justify-content: space-around;

}
.footer p {
  color: black;
  font-family: "Montserrat";
  font-style: italic;
}

.footer span{
  color: red;
  font-size: 20px;

}
