.btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  padding: 12px 18px;
  border-radius: 100px;
  background: #ff3545;
}
.btn:hover {
  background: #ff3545;
}
.form-inline {
  justify-content: center;
}
