<div class="footer">
  <div>
      <a href="https://www.facebook.com/thehackingproject/" title="Suivez-moi sur facebook !" <i class="fab fa-facebook"></i></a>
  </div>
<div>
      <a href="https://www.linkedin.com/school/the_hacking_project/" title="Suivez-moi sur linkedin !" <i class="fab fa-linkedin"></i></a>
</div>
<div>
      <a href="https://www.github.com/the_hacking_project/" title="Suivez-moi sur github !" <i class="fab fa-github"></i></a>
</div>
<div>
      <a href="https://mobile.twitter.com/the_hacking_pro" title="Suivez-moi sur Twitter !" <i class="fab fa-twitter"></i></a>
</div>
  <p> Made with <span>&hearts;</span> by THP mousaillons  </p>

</div>
