<div class="footer">
  <ul>
      <a href="http://facebook.com/" title="Suivez-moi sur facebook !" <i class="fab fa-facebook"></i></a>
      <a href="http://github.com/" title="Suivez-moi sur guithub !" <i class="fab fa-github"></i></a>
      <a href="http://instagram.com/" title="Suivez-moi sur instagram !" <i class="fab fa-instagram"></i></a>
      <a href="http://news.railstutorial.org/">News</a>
      </ul>
</div>
