<div class="footer">
  <div>
      <a href="http://facebook.com/" title="Suivez-moi sur facebook !" <i class="fab fa-facebook"></i></a>
  </div>
<div>
      <a href="http://github.com/" title="Suivez-moi sur guithub !" <i class="fab fa-github"></i></a>
</div>
<div>
      <a href="http://instagram.com/" title="Suivez-moi sur instagram !" <i class="fab fa-instagram"></i></a>
</div>
<div>
      <a href="http://instagram.com/" title="Suivez-moi sur Twitter !" <i class="fab fa-twitter"></i></a>
</div>

</div>
